<<<<<<< HEAD
/*body{
=======
body{
>>>>>>> d59886e75ccb48c514dce1352dcaaa2c75bac204
    background-image: url(cinske-telefony.jpg);
}
*{
    color: white;
}
<<<<<<< HEAD
*/
=======
>>>>>>> d59886e75ccb48c514dce1352dcaaa2c75bac204
p, h1{
    text-align: center;
}
img{
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
